<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>todo-bs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/vue/2.2.6/vue.js"></script>
</head>

<body>
  <div class="container" id="app">
    <div class="panel panel-default">
      <div class="panel-heading">TODO LIST</div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="todoInput" class="col-sm-2 control-label">TODO</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="todoInput" placeholder="todo" v-model="newTodo" @keyup.enter="addTodo()">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success" @click="addTodo()">Add Todo</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <ul class="list-group">
              <li class="list-group-item" v-for="(todo, index) in todos">
                {{todo.title}}
                <button class="btn btn-warning btn-xs pull-right" @click="deleteTodo(index)">delete</button>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  new Vue({
    el: "#app",
    data:{
      todos:[
        {title:"学习vue的应用",completed:false}
      ],
      newTodo:""
    },
    methods:{
      addTodo:function(){
        let value = this.newTodo.trim();
        if(!!value){
          this.todos.push({title:value,completed:false})
          this.newTodo = ""
        }
      },
      deleteTodo:function(index){
        this.todos.splice(index,1)
      }
    }
  })
  </script>
</body>

</html>
